@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    linkedin-light --default,
    linkedin-dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'linkedin-light';
  default: true;
  color-scheme: light;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.3% 0.005 75);
  --color-base-300: oklch(90% 0.005 75);
  --color-base-content: oklch(20% 0 0);

  --color-primary: oklch(48% 0.16 250);
  --color-primary-content: oklch(100% 0 0);

  --color-secondary: oklch(50% 0.13 150);
  --color-secondary-content: oklch(100% 0 0);

  --color-accent: oklch(48% 0.12 65);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(45% 0 0);
  --color-neutral-content: oklch(98% 0 0);

  --color-info: oklch(48% 0.16 250);
  --color-info-content: oklch(100% 0 0);

  --color-success: oklch(50% 0.13 150);
  --color-success-content: oklch(100% 0 0);

  --color-warning: oklch(70% 0.16 70);
  --color-warning-content: oklch(20% 0 0);

  --color-error: oklch(55% 0.22 25);
  --color-error-content: oklch(100% 0 0);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'linkedin-dark';
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(22% 0.01 240);
  --color-base-200: oklch(15% 0.01 240);
  --color-base-300: oklch(32% 0.015 240);
  --color-base-content: oklch(96% 0 0);

  --color-primary: oklch(75% 0.13 245);
  --color-primary-content: oklch(15% 0.02 240);

  --color-secondary: oklch(78% 0.17 150);
  --color-secondary-content: oklch(15% 0.02 240);

  --color-accent: oklch(80% 0.14 75);
  --color-accent-content: oklch(15% 0.02 240);

  --color-neutral: oklch(70% 0.01 240);
  --color-neutral-content: oklch(15% 0.02 240);

  --color-info: oklch(75% 0.13 245);
  --color-info-content: oklch(15% 0.02 240);

  --color-success: oklch(78% 0.17 150);
  --color-success-content: oklch(15% 0.02 240);

  --color-warning: oklch(80% 0.14 75);
  --color-warning-content: oklch(15% 0.02 240);

  --color-error: oklch(70% 0.18 25);
  --color-error-content: oklch(15% 0.02 240);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

* {
  scroll-behavior: smooth;
}
